header {
    background-image: url(./media/backgroundheader.png);
    width: 100%;
    height: 380px;
    background-repeat: no-repeat;
    background-size:cover;
}
footer {
    background-color: #eaeaea
    
}
body {
    margin:0;
}

ul {
    list-style: none;
    position: absolute;
    top:10pt;
    left: 605pt;  
}

li {
    display: inline-block;
    padding: 20px 0 20px;
    vertical-align: middle;
}
a:hover, a:focus, a:active {
    color: #999;
    text-decoration: none;
}

.navd {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: white;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}

.navd::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: white;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}

.navd:active::before {
    background-color: #000;
}

.aktiv {
    color: grey;





}

.aktiv::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: white;
    transform-origin: right top;
    transform: scale(1, 1);
    transition: color 0.1s,transform 0.2s ease-out;

}

.navd:hover::before, .navd:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.flex-container_footer {
    
    display: flex;
    justify-content:row;
    text-align: center;
   
    
}

.container_footer {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: gray;
    font-size: 15px;
    display: block;
    justify-content: center;
    width: 800px;
    height: 200px;
    margin: auto;
    /* border: black solid; */

}

.social {
    background-color: #eaeaea;
    height:50px;
    width:50px;
}


.container {
    display: block;
    justify-content: center;
    width: 800px;
    height: 600px;
    margin: auto;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    bottom: 0;
 

    text-align:center;
     
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    
}

.profil {
    width: 200px;
    margin-top: 50px;
    border-radius: 100%;
    border: black solid 10px;
}

.flex-container_about {
    list-style: none;
    display: flex;
    flex-direction: column;
    
    
    
    left:28%;
    position: absolute;
    
   
    

   
}
.text {
text-align: left;
}

#logo {
    background-image: url(./media/logo.svg);
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 40pt;
    left: 262pt;
    display:block;
}