body {
    background-color:black;
}

.container_play {
    display:flex;
    justify-content:center;
}

button {
    height: 150px;
    width: 150px;
    text-decoration: none;
    margin: 2px;
    color:black;
    border: none;
    border-color: black;
    border-radius: 10px;
    
}




button:hover {
    transform: scale(1.01);
    transition: 0.3s;
}

.but0 {
    background-color: #104E8B;
}

.but1 {
    background-color: #104E8B;
}

.but2 {
    background-color: #104E8B;
}

.but3 {
    background-color: #1874CD;
}

.but4 {
    background-color: #1874CD;
}

.but5 {
    background-color: #1874CD;
}

.but6 {
    background-color: #8470FF;
}

.but7 {
    background-color: #00BFFF;
}

.but8 {
    background-color: #00BFFF;
}

.play:hover {
    transform: scale(1.05);
    transition: 0.4s;

}

.container_buttons_row1 {
    display:flex;
    justify-content:center;
}

.container_buttons_row2 {
    display:flex;
    justify-content:center;
}

.container_buttons_row3 {
    display:flex;
    justify-content:center;
}