.sticky-banner{
    position: sticky;
    float: right;
    top: 0;
    z-index: 6;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
   
   
}
.sticky-img {
    
    width: 200px;
  
}
.container_header {
    background-image: url(./media/backgroundheader.png);
    width: 100%;
    height: 380px;
    background-repeat:no-repeat;
    background-size:cover;
    transition: 5s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode:both;
    animation-iteration-count: infinite;
    animation-play-state:running;
    animation-timing-function:ease-in-out;
}

@keyframes animate{
    0%{
        background-image:url(./media/backgroundheader2.jpg) ;
 
    }
    100%{
        background-image:url(./media/backgroundheader.png) ;
    }
}
footer {
    background-color: #eaeaea
    
}
body {
    
    margin:0;
}

ul {
    list-style: none;
    position: absolute;
    top:10pt;
    left: 605pt;  
}

li {
    display: inline-block;
    padding: 20px 0 20px;
    vertical-align: middle;
}
a:hover, a:focus, a:active {
    color: #999;
    text-decoration: none;
}

.navd {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 16px;
    font-weight: 900;
    text-transform: uppercase;
    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}

.navd::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: white;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}

.navd:active::before {
    background-color: #000;
}

.aktiv {
    color: grey;





}

.aktiv::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: white;
    transform-origin: right top;
    transform: scale(1, 1);
    transition: color 0.1s,transform 0.2s ease-out;

}

.navd:hover::before, .navd:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

#logo {
    background-image: url(./media/logo.svg);
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 40pt;
    left: 262pt;
    display:block;
}

.container {
    display: block;
    justify-content: center;
    width: 800px;
    height: 600px;
    margin: auto;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    bottom: 0;
    /* border: black solid;  */
    
}

h1 {    
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    position: relative;
    top: 25px;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    position: relative;
    top: 30px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

.container_land {
    display: flex;
    
   
}

.pic {
    
    
    height: 200px;
    transition: transform .5s ease;
   


}

.pic:hover  {
    transform: scale(1.2);
    }



.flex-container_pic {
    display: flex;
    justify-content:space-between;
    overflow: hidden;
    
    
}



.flex-container_video {
    display: flex;
    align-items: center;
}
.flex-container_footer {
    
    display: flex;
    justify-content:row;
    text-align: center;
   
    
}

.container_footer {
    font-family: 'Montserrat', sans-serif;
    color: gray;
    font-size: 15px;
    display: block;
    justify-content: center;
    width: 800px;
    height: 200px;
    margin: auto;
    /* border: black solid; */

}

.social {
    background-color: #eaeaea;
    height:50px;
    width:50px;
    opacity: 0.5;
}

.social:hover {
    opacity: 1;
}

